<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Izin Internet - Wajib untuk mengakses website -->
    <uses-permission android:name="android.permission.INTERNET" />
    
    <!-- Izin akses jaringan (opsional, untuk cek koneksi) -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BrowserAPK"
        tools:targetApi="31">
        
        <!-- Activity Utama - Launcher Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.BrowserAPK">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- WebView Activity - Fallback browser jika Chrome tidak tersedia -->
        <activity
            android:name=".WebViewActivity"
            android:exported="false"
            android:theme="@style/Theme.BrowserAPK"
            android:parentActivityName=".MainActivity">
            <!-- Metadata untuk navigasi back ke parent activity -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

    </application>

</manifest>